@charset "utf-8";

/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* CSS Document */

/* =reset
----------------------------------------------- */
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
	-webkit-transition: all 5ms;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img { max-width: 100%; }

/* =reusable classes
----------------------------------------------- */

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

.amp {
  font-family: Baskerville,"Goudy Old Style",Palatino,"Book Antiqua",Constantia,Georgia,serif;
  font-style: italic;
}

/* =links
----------------------------------------------- */

a:link, a:visited {
    color: #6d6e71;
    text-decoration: none;
}

a:hover {
  color: #FFF;
}

/* =page layout
----------------------------------------------- */

body {
    background: url(/img/theater.jpg) #E4E4E4;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    font-family: "AvenirLTStd-Black", sans-serif;
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
    width: 100%;
}

@media only screen
and (min-width: 200px) {
    
    h1 {
        font-size: 6em;
        line-height: 1.1em;
    }
    
    h2 {
        font-size: 5em;
    }
    
    h3 {
        font-size: 4em;
    }
    
    h4 {
        color: rgba(255,255,255,1);
        font-size: 2em;
        letter-spacing: 1px;
        line-height: 1.6em;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    }
    
    em {
        color: rgba(255,255,121,0.8);
    }
    #wrapper {
        background: rgba(0,255,255,0.2);
/*--        background: #010001; /* Old browsers */
/*--         background: -moz-linear-gradient(left,  #010001 0%, #39383a 100%); /* FF3.6+ */
/*--         background: -webkit-gradient(linear, left top, right top, color-stop(0%,#010001), color-stop(100%,#39383a)); /* Chrome,Safari4+ */
/*--         background: -webkit-linear-gradient(left,  #010001 0%,#39383a 100%); /* Chrome10+,Safari5.1+ */
/*--         background: -o-linear-gradient(left,  #010001 0%,#39383a 100%); /* Opera 11.10+ */
/*--         background: -ms-linear-gradient(left,  #010001 0%,#39383a 100%); /* IE10+ */
/*--         background: linear-gradient(to right,  #010001 0%,#39383a 100%); /* W3C */
/*--         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010001', endColorstr='#39383a',GradientType=1 ); /* IE6-9 */
        margin: 0 auto;
        max-width: 70em;
        width: 100%;
    }
    
    
    
/* =header
----------------------------------------------- */

    header {
        border-left: 10px solid #333;
        line-height: 1.2;
        overflow: hidden;
        padding: 40px 40px 10em;
        position: relative;
        text-shadow: 0 1px 0 rgba(255,255,255,0.3);
        text-transform: uppercase;
        width: 100%;
    }
    
    .icon img {
        width: 80px;
    }
    
    a.icon {
        background: rgba(197,242,200,0.9);
        bottom: 40px;
        border-radius: 100px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        padding: 10px;
        position: absolute;
    }
    
    a.icon:hover {
        -moz-transform: translate(0px,-6px);
		-webkit-transform: translate(0px,-6px);
        -o-transform: translate(0px,-6px);
        -ms-transform: translate(0px,-6px);
        transform: translate(0px,-6px);
    }
    
    nav ul {
        border-top: 2px solid #404041;
        position: absolute;
        bottom: 0;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        padding: 30px 0.3em;
        text-transform: uppercase;
    }
    
    

}